.App-header {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: solid 3px #f2254b;
}

.App-header img {
    max-width: 200px;
    max-height: 200px;
    flex-basis: 40%;
}

.App-header h1 {
    color: #f2254b;
    padding-left: 20px;
    font-size: 30px;
}
